# Firebase Configuration
GOOGLE_APPLICATION_CREDENTIALS="./config/serviceAccountKey.json"
FIREBASE_DATABASE_URL="https://your-project-id.firebaseio.com"

# Firebase Admin SDK credentials
# These are only needed if you're not using the GOOGLE_APPLICATION_CREDENTIALS file
# FIREBASE_PROJECT_ID="your-project-id"
# FIREBASE_CLIENT_EMAIL="firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com"
# FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour Private Key\n-----END PRIVATE KEY-----\n"

# Server Configuration
PORT=8000
NODE_ENV=development